* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: #66b0df; /* Blue background color */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}

nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li {
    height: 50px;
}

nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
}

nav a:hover {
    background-color: #f0f0f0;
}

nav li:first-child {
    margin-right: auto;
}

.logo {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
}

header {
    text-align: center;
    margin-top: 50px;
}

header h1 {
    font-size: 3em;
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the small line under "INNOVATE" */
.innovate {
    position: relative;
}

.innovate::after {
    content: '';
    position: absolute;
    bottom: -2px; /* Adjust this value to position the line */
    left: 50%; /* Position the line at the center of the word */
    width: 40px; /* Adjust the width of the line */
    height: 4px; /* Adjust the thickness of the line */
    background-color: white;
    transform: translateX(-50%);
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    backdrop-filter: blur(10px);
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li, .sidebar a {
    width: 100%;
}

/* Style for paragraphs */
main {
    padding: 20px;
    text-align: center;
}

main p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

/* Add a subtle shadow for a "pop" effect */
main p:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}

@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
}
